{% extends '@KitWeb/layout.html.twig' %} {% block content %}
<div class="container">
	<img alt="2017年天主教瞻礼单" src="{{ asset('static/images/Calendar.jpg') }}" class="img-responsive">
</div>
{% endblock %}
