<!--顶部-->
<div class="layout bg-black bg-inverse">
	<div class="container height-large">
		<span class="float-right text-small text-gray hidden-l">
        <a class="text-main" href="http://www.christlove.cn">注册</a><span> | </span><a class="text-main" href="http://www.christlove.cn">登录</a><span> | </span><a class="text-main" href="http://www.christlove.cn/calendar">瞻礼单</a><span> | </span><a class="text-main"
		href="http://www.christlove.cn">帮助中心</a>
		</span>
		欢迎来到<a href="http://www.christlove.cn">基督的爱 &nbsp;&nbsp;christlove.cn</a>
	</div>
</div>